div.maincontainer1 {
    margin-right: auto;
    margin-left: auto;
    height: 75px;
    padding-right: 15px;
    padding-left: 15px;
}
div.navbar-brand  {
    cursor: pointer;
    max-width: 150px;
    height: 50px;
    padding: 15px 5px 10px 5px;
}
a.navbar-brand:hover {
    text-decoration: none;
}
div.navbar-title {
    max-width: 88%;
    height: 70px;
    margin-left: 170px;
    position: relative;
    bottom: 73px;
    left: 20px;
}

div.title-left {
    position: relative;
    top: 15px;
    bottom: 30px;
}
ul.titles {
    list-style: none; 
    margin: 0;
    padding: 0;
    font-size: 15px;
    border: none;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: "Roboto", Arial, sans-serif;
    
}
li.left {
    float: left;
}
ul.titles li.left a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    z-index: 5;
}
ul.titles li.left a:hover {
    background-color: #ddd;
}
li.left {
    display: inline-block;
}
div.left1-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(241, 230, 230);
    border-radius: 10px;
    min-height: 160px;
    z-index: 1;
}
div.left1-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}
div.left1-content a:hover {background-color: lightblue;}

li.left:hover .left1-content {
    display: block;
}
div.left2-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(241, 230, 230);
    border-radius: 10px;
    min-height: 110px;
    min-width: 5%;
    z-index: 1;
}
div.left2-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}
div.left2-content a:hover {background-color: lightblue;}

li.left:hover .left2-content {
    display: block;
}
div.left3-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(241, 230, 230);
    border-radius: 10px;
    min-height: 100px;
    min-width: 150px;
    z-index: 1;
}
div.left3-content a {
    color: black;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}
div.left3-content a:hover {background-color: lightblue;}

li.left:hover .left3-content {
    display: block;
}
div.left1-cont {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(241, 230, 230);
    border-radius: 10px;
    min-height: 100px;
    min-width: 150px;
    z-index: 1;
}
div.left1-cont a {
    color: black;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}
div.left1-cont a:hover {
    background-color: lightblue;
    display: block;
}
div.title-right {
    position: relative;
    top: 10px;
    bottom: 60px;
}
ul.titles1 {
    list-style: none; 
    margin: 0; width: 200px;
    font-size: 15px;
    border: none;
    height: 50px;
    position: absolute;
    right: 40px;
    font-family: "Roboto", Arial, sans-serif;
    background-color: white;
}
li.right {
    float: right;
}
ul.titles li.right a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
ul.titles1 li.right a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
ul.titles1 li.right a:hover {
    background-color: #ddd;
}
li.right {
    display: inline-block;
}

@media screen and (max-width: 900px) {
    ul.titles, ul.titles1 {
        display: none;
    }

}

div.maincontainer2 {        /* first page content */
    background-color: rgb(2, 2, 2);
    background-image: linear-gradient(0deg, rgb(11, 11, 59), black);
    max-width: 100%;
    height: 700px;
    background-color: yellow;
}
div.box1 {
    background-color: blue;
    background-image: linear-gradient(-150deg, blue, rgb(86, 8, 142), rgb(164, 6, 117));
    max-width: 40%;
    height: 670px;
    position: relative;
    top: 30px;
    left: 100px;
}
div.box2 {
    background-color: #0f2557;
    width: 150%;
    height: 500px;
    position: relative;
    top: 50px;
    left: 100px;
    z-index: 10;
    opacity: 0.9;
}
.box2 h3 {
    color: whitesmoke;
    padding: 20px;
    font-weight: 300;
    font-size: 24px;
    margin: 26px 0 0;
    font-family: "Roboto",Arial, sans-serif;
}
.box2 h1 {
    font-family: "Roboto", Arial, sans-serif;
    color: whitesmoke;
    font-size: 55px;
    margin: 20px ;
    padding: 5px 5px;
}
div.top-left {
    background-color: rgb(62, 62, 222);
    width: 30%;
    height: 200px;
    z-index: 10;
    position: absolute;
    left: 850px;
    bottom: 350px;
}
.top-left h2 {
    color: white;
    text-align: center;
    font-size: 24px; letter-spacing: 3px;
    font-weight: 700;
    margin: 0 auto;
    font-family: "Roboto",Arial, sans-serif;
}
.top-left h1 {
    font-size: 168px;
    line-height: 1;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}
.bottom-line {
    width: 120%;
    height: 200px;
    margin: 10px 70px;
    z-index: 1;
    display: inline-block;
}
.boxone {
    width: 18%;
    height: 170px;
    background-color: #6892d7;
    float: left;
    margin-left: 5px;
    padding: 5px;
    opacity: 0.9;
    color: aliceblue;
    text-align: center; font-size: larger;
}
img.window {
    margin: 0 auto;
    padding: 10px 40px;
}


.maincontainer3 {       /* second page */
    max-width: 100%;
    height: 600px;
    padding: 50px;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    div.maincontainer2 {
        justify-content: center;
        position: relative;
    }
    div.bottom-line {
        flex-direction: column;
    }
}

div.leftcontent-box {
    padding-left: 20px;
    position: relative;
    height: 500px;
    width: 500px;
    text-align: center;
    box-sizing: content-box;
    z-index: 1;
    background-color: white;
}

@media screen and (max-width:767px) {
    div.leftcontent-box {
       font-size: large;
       text-align: center ;
    }
}
div.leftcontent-box h1, p {
    padding: 20px;
    margin: 0;
}
div.left-bottom {
    padding: 100px 0px;
    text-align: left;
    margin: 20px;
}
div.left-bottom a {
    background-color: rgb(217, 25, 217);
    box-sizing: border-box;
    box-shadow: 3px 3px 3px rgb(16, 1, 16);
    text-align: center; border-radius: 5px;
    padding: 15px 55px; 
    color: whitesmoke; text-decoration: none;
    font-family: "Roboto", Arial, sans-serif;
}
div.left-bottom a:hover {
    background-color: purple;
    text-decoration: none;
    opacity: 0.5;
}
div.right-bottom1 {
    width: 710px;
    height: 439px;
    background-image: linear-gradient(#306ed5, #6892d7);
    box-shadow: 0 0 31px rgba(102, 94, 94, 0.3);
    float: right;
    position: relative;
    bottom: 440px;
}
video.new {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 130%;
    height: 500px;
    border: 2px black;
}

div.maincontainer4 {     /* third page */
    max-width: 100%;
    height: 700px;
}
div.subcontainer-main {
    background-color: rgb(110, 110, 210);
    background-image: linear-gradient(-90deg, rgb(47, 47, 238), rgb(116, 37, 173), rgb(173, 44, 134));
    max-width: 600%;
    height: 500px;
    position: relative;
    margin: 10px;
}
div.left-subcontainer {
    float: left;
    width: 750px;
    height: 490px;
    position: relative;
    bottom: 380px;
}
div.image1 {
    position: relative;
    top: 50px;
    left: 150px;
    float: left;
}
div.image2 {
    position: relative;
    top: 100px;
    left: 100px;
    float: left;
}
div.image3 {
    position: absolute;
    left: 600px;
    bottom: 310px;
}
div.right-subcontainer {
    float: right;
    position: relative;
    bottom: 390px;
    width: 600px;
    height: 500px;
    font-family: "Roboto", Arial, sans-serif;
    color: whitesmoke;
}
div.right-top {
    position: absolute;
    bottom: 200px;
    right: 300px;
    font-size: 20px;
    padding: 20px;
}
div.right-middle {
    position: absolute;
    bottom: 150px;
    right: 310px;
}
div.right-down a {
    text-decoration: none;
    text-align: center;
    border: 1px;
    padding: 12px 16px;
    background-color: rgb(242, 68, 68);
    display: inline-block;
    position: absolute;
    bottom: 100px;
    left: 20px;
    border-radius: 2px;
    box-shadow: 2px black;
    color: whitesmoke;
}
div.right-down a:hover {
    background-color: red;
}

@media screen and (max-width: 760px) {
    div.subcontainer-main {
        margin-top: 25px;
        background-color: rgb(110, 110, 210);
        background-image: linear-gradient(-90deg, rgb(47, 47, 238), rgb(116, 37, 173), rgb(173, 44, 134));
        max-width: 600%;
        height: 800px;
        position: relative;
        margin: 10px;
    }
    div.image1 {
        display: none;
    }
    div.image2 {
        justify-content: center;
    }
    div.image3 {
        position: absolute;
        left: 200px;
    }
    div.right-subcontainer {
        float: left;
        margin: 10px;
        position: absolute;
        top: 300px;
        left: 60px;
    }
}
@media screen and (max-width: 575px) {
    div.subcontainer-main {
        justify-content: center;
    }
    div.image1 {
        display: none;
    }
}
